/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--weight-main-text);
  background-image: var(--gradient-background);
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

/* header */

.header {
  inline-size: var(--inline-size-desktop);
  min-block-size: var(--block-size-desktop);
  border: 2px solid var(--color-accent);
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-main);
}

.header__logo-title {
  font-family: var(--accent-font), sans-serif;
  font-size: 65px;
  padding-bottom: 20px;
}

.header__logo-subtitle {
  font-family: var(--accent-font), sans-serif;
  font-size: 23px;
  text-transform: uppercase;
}

@media (width < 700px) {
  .header {
    inline-size: var(--inline-size-mobile);
    min-block-size: var(--block-size-mobile);
    margin: 102px auto;
  }

  .header__logo-title {
    font-size: 49px;
    padding-bottom: 20px;
  }

  .header__logo-subtitle {
    font-size: 14px;
  }
}

/* main */

.main {
  inline-size: var(--inline-size-desktop);
  min-block-size: var(--block-size-desktop);
  margin: 0 auto;
  font-size: 18px;
  display: grid;
  gap: 50px;
}

.card__title {
  font-weight: var(--weight-title);
  border: 2px solid var(--color-accent);
  background-color: var(--color-main);
}

.card__image {
  position: relative;
  border: 2px solid var(--color-accent);
}

.card__image img {
  display: block;
  inline-size: 100%;
}

.card__image-grayscale {
  filter: grayscale(75%);
}

.card__image-saturate {
  filter: saturate(400%);
}

.card__image-hue-rotate {
  filter: hue-rotate(30deg);
}

.card__image-invert {
  filter: invert(90%);
}

.card__image-sepia {
  filter: sepia(90%);
}

.card__image-blur {
  filter: blur(10px);
  transform: scale(0.98);
}

.card__image-hue-rotate-opacity {
  filter: hue-rotate(100deg) opacity(70%);
}

.card__image-label {
  position: absolute;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  font-weight: 400;
  top: 25px;
  right: 25px;
  color: var(--color-accent);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 1px var(--color-main);
  text-shadow: 0 var(--color-main), 
              0 1px var(--color-main),
              0 -1px var(--color-main), 
              1px 0 var(--color-main);
}

@supports (-webkit-text-stroke: 1px var(--color-main)) or (text-stroke: 1px var(--color-main)) {
  .card__image-label {
    text-stroke: 1px var(--color-main);
    -webkit-text-stroke: 1px var(--color-main);
    text-shadow: none;
  }
}

.card__description {
  display: grid;
  border: 2px solid var(--color-accent);
  padding: 25px;
  gap: 25px;
  background-color: var(--color-main);
}

.card__description-text {
  display: grid;
  gap: 20px;
}

.card__description-buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 12px;
}

.like-icon {
  background-color: transparent;
  border: 2px solid var(--color-main);
}

.like-icon:focus {
  outline: none; 
}

.like-icon:focus {
  border: 2px solid var(--color-accent);
  transition: border 0.3s ease;
}

.card__like-button {
  background-color: transparent;
  font-family: var(--accent-font);
  inline-size: 130px;
  block-size: 46px;
  border: 2px solid var(--color-accent);
}

@media (width < 700px) {
  .main {
    inline-size: var(--inline-size-mobile);
    min-block-size: var(--block-size-mobile);
  }
}

/* button__save */

.button__save {
  inline-size: 335px;
  block-size: 55px;
  margin: 0 auto 100px;
  background-color: var(--color-main);
  font-family: var(--accent-font);
  font-size: 14px;
  border: 2px solid var(--color-accent);
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (width < 700px) {
  .button__save {
    inline-size: 306px;
    block-size: 84px;
    flex-direction: column;
    justify-content: center;
  }
}

/* dialog */

.dialog {
  inline-size: 353px;
  block-size: 191px;
  padding: 0;
}

.dialog::backdrop {
  background-color: var(--color-bg);
}

.dialog__save {
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 30px;
  line-height: 150%;
  align-items: center;
}

.dialog__button {
  background-color: transparent;
  border: 2px solid var(--color-accent);
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  line-height: 90%;
  min-inline-size: 288px;
  min-block-size: 38px;
  margin: 0 30px;
  padding: 0;
}

@media (width <= 395px) {
  .dialog {
    inline-size: 341px;
  }

  .dialog__button {
    min-inline-size: 257px;
    margin: 0 35px;
  }
}

/* button */

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--color-accent);
  transition: box-shadow 0.3s ease;
}

.button {
  position: relative;
  overflow: hidden;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-accent); 
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: scaleX(1);
}

.button__text {
  color: var(--color-main); 
  mix-blend-mode: difference; 
}

.button__save-image {
  filter: invert(1);
  mix-blend-mode: difference; 
} 
