/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--weight-main-text);
}

/* header */

.header {
  inline-size: var(--inline-size-desktop);
  min-block-size: var(--block-size-desktop);
  border: 2px solid rgba(0, 0, 0, 1);
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__logo-title {
  font-family: var(--accent-font), sans-serif;
  font-size: 65px;
  padding-bottom: 20px;
}

.header__logo-subtitle {
  font-family: var(--accent-font), sans-serif;
  font-size: 23px;
  text-transform: uppercase;
}

@media (width < 700px) {
  .header {
    inline-size: var(--inline-size-mobile);
    min-block-size: var(--block-size-mobile);
    margin: 102px auto;
  }

  .header__logo-title {
    font-size: 49px;
    padding-bottom: 20px;
  }

  .header__logo-subtitle {
    font-size: 14px;
  }
}

/* main */

.main {
  inline-size: var(--inline-size-desktop);
  min-block-size: var(--block-size-desktop);
  margin: 0 auto;
  font-size: 18px;
  display: grid;
  gap: 50px;
}

.card__title {
  font-weight: var(--weight-title);
  border: 2px solid rgba(0, 0, 0, 1);
}

.card__image {
  position: relative;
}

.card__image img {
  display: block;
  inline-size: 100%;
}

.card__image-label {
  position: absolute;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  font-weight: 400;
  top: 25px;
  right: 25px;
  color: rgba(0, 0, 0, 1);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 1px var(--color-border);
  text-shadow: 0 var(--color-border), 
              0 1px var(--color-border),
              0 -1px var(--color-border), 
              1px 0 var(--color-border);
}

@supports (-webkit-text-stroke: 1px var(--color-border)) or (text-stroke: 1px var(--color-border)) {
  .card__image-label {
    text-stroke: 1px var(--color-border);
    -webkit-text-stroke: 1px var(--color-border);
    text-shadow: none;
  }
}

.card__description {
  display: grid;
  border: 2px solid rgba(0, 0, 0, 1);
  padding: 25px;
  gap: 25px;
}

.card__description-text {
  display: grid;
  gap: 20px;
}

.card__description-buttons {
  display: flex;
  justify-content: end;
  gap: 12px;
}

.card__icon-button {
  background-color: transparent;
  border: none;
}

.card__like-button {
  background-color: transparent;
  font-family: var(--accent-font);
  inline-size: 130px;
  block-size: 38px;
  border: 2px solid rgba(0, 0, 0, 1);
}

@media (width < 700px) {
  .main {
    inline-size: var(--inline-size-mobile);
    min-block-size: var(--block-size-mobile);
  }
}

/* button__save */

.button__save {
  inline-size: 335px;
  block-size: 55px;
  margin: 0 auto 100px;
  background-color: transparent;
  font-family: var(--accent-font);
  font-size: 14px;
  border: 2px solid rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (width < 700px) {
  .button__save {
    inline-size: 306px;
    block-size: 84px;
    flex-direction: column;
    justify-content: center;
  }
}
