:root {
    --main-font: 'Inter-Variable';
    --accent-font: 'PressStart2P-Regular';
    --weight-main-text: 400;
    --weight-title: 700;
    --inline-size-desktop: 696px;
    --inline-size-mobile: 100%;
    --block-size-desktop: 368px;
    --block-size-mobile: 327px;
    --color-main: rgba(255, 255, 255, 1);
    --color-accent: rgba(0, 0, 0, 1);
    --color-bg: rgba(0, 0, 0, 0.75);
    --animation-fill-color: red;
    --gradient-background: repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
                            repeating-linear-gradient(to bottom, #d3d3d3 0px 2px, transparent 2px 4px),
                            linear-gradient(to bottom, #e7e7e7 0%, #1a1a1a 100%);
}
