:root {
    --main-font: 'Inter-Variable';
    --accent-font: 'PressStart2P-Regular';
    --weight-main-text: 400;
    --weight-title: 700;
    --inline-size-desktop: 696px;
    --inline-size-mobile: 100%;
    --block-size-desktop: 368px;
    --block-size-mobile: 327px;
}
